.circle{
    border-color: transparent;
    background: green;
    color:white;
    height: 100px;
    width:100px;
    border-radius: 50px;
    transition: 2s;
}
.circle:hover{
    border-color: transparent;
    background: red;
    transform: rotateZ(360deg);
    transition: 2s;
    color:white;
    height: 100px;
    width:100px;
    border-radius: 50px;
    border-radius: 50px;
}

.circle-animate{
    border-color: transparent;
    background: orange;
    color:white;
    height: 100px;
    width:100px;
    border-radius: 50px;
}
.circle-animate:hover{
    animation-name:rotate;
    animation-duration: 2s;
}

@keyframes rotate{
    from{
        transform: rotateZ()(0deg)
    }
    to{
        background-color:red;
        transform: rotateZ(360deg);
    }
}

/*Flipping cards*/

.front{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color:red;
}

.back{
    width: 100px;
    height: 100px;
    transition: 1s;
    transform: rotateY(90deg);
    background-color:orange;
}

.panels:hover div.front{
    animation: rotate 0.2s ease-in forwards;
}

.panels:hover div.back{
    animation: rotate 0.2s 0.2s ease-out forwards reverse;
}

@keyframes rotate{
0%{
    transform: rotateY(0deg);
}
100%{
    transform: rotateY(90deg);
}
}