.circle{
    border-color: transparent;
    background: green;
    color:white;
    height: 100px;
    width:100px;
    border-radius: 50px;
    transition: 2s;
}
.circle:hover{
    border-color: transparent;
    background: red;
    transform: rotateZ(360deg);
    transition: 2s;
    color:white;
    height: 100px;
    width:100px;
    border-radius: 50px;
    border-radius: 50px;
}

.circle-animate{
    border-color: transparent;
    background: orange;
    color:white;
    height: 100px;
    width:100px;
    border-radius: 50px;
}
.circle-animate:hover{
    animation-name:rotate;
    animation-duration: 2s;

}

@keyframes rotate{
    from{
        transform: rotateZ()(0deg)
    }
    to{
        background-color:red;
        transform: rotateZ(360deg)
    }
}